/*主题色*/
@MAIN_THEME_COLOR:#825621;

@FONT_FIRST_COLOR:#000000;
@FONT_SECOND_COLOR:#333333;
@FONT_THIRD_COLOR:#666666;
@FONT_FOUR_COLOR: #a9a9a9;

@BG_WHITE:#ffffff;
@BG_GRAY:#eeeeee;

@BORDER_COLOR_1:#eeeeee;
@BORDER_COLOR_2:#f4f4f4;
@BORDER_COLOR_3:#ebedf0;
